<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/styles/form.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <form action="/add-product" method="post">
        <input type="text" name="title">
        <button type="submit">Add Product</button>
    </form>
<%- include('../includes/end.ejs') %>