<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/styles/form.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <div style="display: flex; flex-direction: column; justify-content: space-evenly; align-items: center; width: 100%; height: 400px;">
    <form action="/admin/add-product" method="post">
            <div>
                <label for="title">Title:</label>
                <input type="text" name="title" id="title">
            </div>
            <div>
                <label for="imageURL">ImageURL:</label>
                <input type="text" name="imageURL">
            </div>
            <div>
                <label for="description">Description:</label>
                <textarea type="text" name="description"></textarea>
            </div>
            <div>
                <label for="price">Price:</label>
                <input type="text" name="price">
            </div>
            
        <button type="submit">Add Product</button>
        
    </form>
</div>
<%- include('../includes/end.ejs') %>