<header>
  <nav>
    <ul>
      <li><a href="/shop/">Admin shop view</a></li>
      <li><a href="/admin/products">Customer shop view</a></li>
      <li><a href="/admin/add-product">Add product</a></li>
      <li><a href="/shop/products">Product</a></li>
      <li><a href="/shop/cart">Cart</a></li>
    </ul>
  </nav>
</header>
