<header>
  <nav>
    <ul>
      <li><a href="/admin/products">Admin shop view</a></li>
      <li><a href="/shop/">Customer shop view</a></li>
      <li><a href="/admin/add-product">Add product</a></li>
      <li><a href="/shop/cart">Cart</a></li>
      <li><a href="/order">Orders</a></li>
    </ul>
  </nav>
</header>
